@model IEnumerable<Trabalho_API.Models.Cliente>


@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClienteId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
